{:deps true
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [app.core]}}
                      :devtools   {:preloads [devtools.preload]
                                   :after-load app.core/mount-root}}
                :test {:target :browser-test
                       :test-dir "out/test"
                       :ns-regexp "test"}}

 :dev-http     {8021 "out/test"
                3000 {:root    "public"
                      :handler user/app}}}
